<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.16.0" targetFramework="net48" />
  <package id="PostSharp" version="6.10.12" targetFramework="net48" />
  <package id="PostSharp.Patterns.Aggregation" version="6.10.12" targetFramework="net48" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.10.12" targetFramework="net48" />
  <package id="PostSharp.Patterns.Common" version="6.10.12" targetFramework="net48" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.10.12" targetFramework="net48" />
  <package id="PostSharp.Patterns.Model" version="6.10.12" targetFramework="net48" />
  <package id="PostSharp.Patterns.Model.Redist" version="6.10.12" targetFramework="net48" />
  <package id="PostSharp.Patterns.Threading" version="6.10.12" targetFramework="net48" />
  <package id="PostSharp.Patterns.Threading.Redist" version="6.10.12" targetFramework="net48" />
  <package id="PostSharp.Redist" version="6.10.12" targetFramework="net48" />
</packages>